
/*td  > a  > img{
     width: 25px;
     height: 25px;
}*/


/* formats for navbar */
/* .navbar { padding: 0px 0px; min-height:40px;   }
 .navbar .navbar-brand{ padding: 3px 0px;font-size: 16px;line-height: 20px;height: 40px; }
 .navbar .navbar-brand > img{ width: 94px; height: 40px; }
 .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }
 .navbar .navbar-toggle {  margin-top: 3px; margin-bottom: 0px; padding: 8px 9px; }
 .navbar .navbar-form { margin-top: 2px; margin-bottom: 0px }
 .navbar .navbar-collapse {border-color: #A40303;}

 body {
  padding-top: 5rem;
}*/

/*Column Highlighting
table {
    overflow: hidden;
}

td, th {
    position: relative;
}*/
/*td:hover::after,
th:hover::after {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.075);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}

.table {
    margin-bottom: 2rem
}

.table thead th {
    padding: 0.5rem 0;
}

td.tdOdd {
	background-color: #edeff2;
    background-color:#ACD1FB;
	text-align: center; 
    width: 14%;
}

td.tdEven {

	text-align: center; 
    width: 14%;
}*/

/*.btn-outline-primary {
    border-color: transparent;
}

.btn-outline-success {
    border-color: transparent;
}*/
/*.btn {
    white-space: normal;
}

[class*="btn-outline-"]{
    border-color: transparent;
}

.btn-lg {
    border-radius: .8rem;
}*/

/*.bd-toc {
	position: sticky;
    order: 1;
	top: 0;
	height: calc(100vh - 5rem);
	overflow-y: auto;
    align-self: flex-start;
    padding-left: 0;
    padding-right: 0;
}*/

@-ms-viewport {
  width: device-width;
}

.all-screen {
    width: 100%;
}

.area-toc {
    width: 10%;
    position: fixed;
    /*float: left;
    top: 5rem;
    height: calc(100vh - 5rem);*/
}

.area-toc a {
    position: absolute; /* Position them relative to the browser window */
    left: -120px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    /*padding: 2px; *//* 15px padding */
    width: 140px; /* Set a specific width */
    text-decoration: none; /* Remove underline */
    font-size: 15px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 2px 2px 0; /* Rounded corners on the top right and bottom right side */
    text-align: right;
    padding-right: 5px;
    background-color: #76a000;
    z-index: 99;
}

.area-toc a:hover{
    left: 0;
    z-index: 99;
    text-align: center;
    padding-right: 0;
}

/*.area-toc .T_1 {
    top: 30px;
    background-color: #76a000;
}
.area-toc .T_2 {
    top: 52px;
    background-color: #76a000;
}
.area-toc .T_3 {
    top: 74px;
    background-color: #76a000;
}
.area-toc .T_4 {
    top: 96px;
    background-color: #76a000;
}
.area-toc .T_5 {
    top: 118px;
    background-color: #76a000;
}
.area-toc .T_6 {
    top: 140px;
    background-color: #76a000;
}
.area-toc .T_7 {
    top: 162px;
    background-color: #76a000;
}
.area-toc .T_8 {
    top: 184px;
    background-color: #76a000;
}
.area-toc .T_9 {
    top: 206px;
    background-color: #76a000;
}
.area-toc .T_10 {
    top: 228px;
    background-color: #76a000;
}*/

.area-main {
    width: 90%;
    padding-left: 10%;
}

/* following is for the new theme */

.table-title{
    background:#f1faed;
    border-top:1px solid #aad69e;
    border-bottom:1px solid #d4eace;
    height:40px;
    line-height:40px;
    padding:0 12px;
    font-size:18px;
    color:#390;
    margin-top:-1px;
    /*position:relative;
    z-index:10;*/
    margin-bottom: 0px;
}

.table-list{
    margin-bottom:-1px;
    margin-top: 0;
}

.area-toc li,
.table-list li {
	list-style:none;
}

.clearfix {
	zoom: 1;
}

.table-list li{
    float:left;
    width:197px;
    height:33px;
    line-height:33px;
    border-style:solid;
    border-color:#d4eace;
    border-width:0 1px 1px 0;
    padding-left: 5px;
}

.table-list .last{
    border-right:0;
    width:199px;
    margin-right: 0;
}

.clearfix:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;    
}


a{
	color:#333;
	text-decoration:none;
}

.table-list a:hover,
.area-toc a:hover {
    background-color:#390;
    color:#fff;
	text-decoration:none;
}

body {
    margin: 0;
    background:#fff;
    color:#333;
	font:14px/1.7 Tahoma, Geneva, "\5B8B\4F53";
}

.table-main{
    border-style:solid;
    border-color:#aad69e;
    border-width:1px 1px 1px;
    /*z-index:9;
    position:relative;*/
}

ul {
    padding: 0;
}

.table-wrapper {
    width: 990px;
    padding-bottom: 2rem;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

*, ::after, ::before {
	box-sizing: border-box;  /* important to finalize the table box*/
}

.table-list h2{
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-block-start: .83em;
  margin-block-end: .83em;
}

.table-list img{
    margin: 5px 0 0;
    width: 25px;
    height: 25px;
}
.table-list img:hover{
    background-color: none;
    cursor: pointer;
}
/*
 * for the nav bar
 */
/*.first-bar {
	height: 85px;
	background-color: #124191;
}*/
.first-bar {
	height: 85px;
	background-color: #76a000;
	opacity: 0.7;
	background-image: url(/images/header.png);
	background-repeat: repeat;
	background-size: 7%;
    overflow: hidden;
	/* background-blend-mode: overlay; */
}
.first-bar img{
    height: 85px;
    float: left;
}
.second-bar {
	height: 40px;
	background-color: #76a000;
	margin-bottom: 2rem;
    /*margin-top: -1rem;*/
    padding-top: 0px;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 9999;
    overflow: hidden;
}
.second-bar img {
    height: auto;
    width: 80px;
    margin-bottom: -2px;
}

#nav-list {
    list-style: none;
    margin: 0;  /* important, seems ul will automatically add some margin top/bottom */
}

#nav-list li {
    float: left;
}

.nav-about p,
#nav-list a {
    text-decoration:none;
    display:block;
    padding:10px 10px;
    color:#fff;
    font-weight: bold;
}

.nav-about {
    /*margin-top: 10px;*/
    float: right;
    margin-right: 10px;
}

.nav-about p {
    padding: 0;
    margin: 8px 0 0;
}

.nav-about p:hover {
    cursor: help;
}

h1 {
	float: left;
	text-decoration: none;
	color: #fff;
	margin-top: 25px;
	font-size: 22px;
    text-shadow: 2px 2px 4px #000000;
}


#mini-logo {
    display: none;
}


/* for the snackbar */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 99;
    left: 50%;
    bottom: 20px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 20px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 20px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 20px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 20px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* end for the snackbar */

/* for the modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transform: translate(0px, 0px);
    transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
    transition: transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translate(0, 0);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    /*padding: 0 20px;*/
    max-width: 500px;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
}

.modal-header {
    /*display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem;*/
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    margin-bottom: 0.5rem;
    background-color: #f1faed;
    margin-top: -1rem;}

.modal-title {
    /*line-height: 1.5;*/
    margin: 10px 0 0 10px;
    font-weight: bold;
    font-size: large;
    display: inline;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 18px; 
    font-weight: bold;
    background-color: transparent;
    border: 0;
}

.modal-body {
	margin: 0 10px;
}

.modal-lable {
	font-size: medium;
}

.modal-header .close {
    /*! padding: 1rem; */
    /*margin: -1rem -1rem -1rem auto;*/
}
/*.close {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0px 1px 0px #fff;
    opacity: 0.5;
}*/

.modal-input {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    margin-bottom: 1rem;
}

.modal-footer {
    /*display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;*/
    border-top: 1px solid #e9ecef;
    margin: 0 -10px;
    padding: 10px 0;
}
.modal-footer > :not(:last-child) {
    margin-right: 0.25rem;
}

.btn-close {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    margin: 0 70% auto;
}
.btn-submit {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
.btn:hover {
	cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}