
td  > a  > img{
     width: 25px;
     height: 25px;
}


/* formats for navbar */
 .navbar { padding: 0px 0px; min-height:40px;   }
 .navbar .navbar-brand{ padding: 3px 0px;font-size: 16px;line-height: 20px;height: 40px; }
 .navbar .navbar-brand > img{ width: 94px; height: 40px; }
 .navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 40px; }
 .navbar .navbar-toggle {  margin-top: 3px; margin-bottom: 0px; padding: 8px 9px; }
 .navbar .navbar-form { margin-top: 2px; margin-bottom: 0px }
 .navbar .navbar-collapse {border-color: #A40303;}

 body {
  padding-top: 5rem;
}

/*Column Highlighting*/
table {
    overflow: hidden;
}

td, th {
    position: relative;
}
/*td:hover::after,
th:hover::after {
    content: "";
    position: absolute;
    background-color: rgba(0,0,0,0.075);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
}*/

.table {
    margin-bottom: 2rem
}

.table thead th {
    padding: 0.5rem 0;
}

td.tdOdd {
	background-color: #edeff2;
    /*background-color:#ACD1FB;*/
	text-align: center; 
    width: 14%;
}

td.tdEven {
	/*background-color:#edeff2;*/
	/*background-color:#DEEDFE;#edeff2*/
	text-align: center; 
    width: 14%;
}

/*.btn-outline-primary {
    border-color: transparent;
}

.btn-outline-success {
    border-color: transparent;
}*/
.btn {
    white-space: normal;
}

[class*="btn-outline-"]{
    border-color: transparent;
}

.btn-lg {
    border-radius: .8rem;
}

/*.bd-toc {
	position: sticky;
    order: 1;
	top: 0;
	height: calc(100vh - 5rem);
	overflow-y: auto;
    align-self: flex-start;
    padding-left: 0;
    padding-right: 0;
}*/

.container {
    order: 0;
    padding-left: 0;
    padding-right: 0;
}

.leftH {
    width: 10%;
    float: left;
    position: sticky;
    top: 5rem;
    height: calc(100vh - 5rem);
}
.wrapper {
    position: relative;
}
.rightH {
    width: 90%;
    padding-left: 10%;
}

/* following is for the new theme */
li {
	list-style:none;
    padding-left: 5px;
}

.title{
    background:#f1faed;
    border-top:1px solid #aad69e;
    border-bottom:1px solid #d4eace;
    height:40px;
    line-height:40px;
    padding:0 12px;
    font-size:20px;
    color:#390;
    margin-top:-1px;
    position:relative;
    z-index:10;
    margin-bottom: 0px;
}

.list{
    margin-bottom:-1px;
}

.clearfix {
	zoom: 1;
}

.list li{
    float:left;
    width:197px;
    height:33px;
    line-height:33px;
    border-style:solid;
    border-color:#d4eace;
    border-width:0 1px 1px 0;
}

.list .last{
    border-right:0;
    width:196px;
}

.clearfix:after {
	clear:both;
	content:'\0020';
	display:block;
	height:0;    
}


a{
	color:#333;
	text-decoration:none;
}

a:hover {
    background-color:#390;
    color:#fff;
	text-decoration:none;
}

body {
    background:#fff;
    color:#333;
	font:14px/1.7 Tahoma, Geneva, "\5B8B\4F53";
}

.main{
    border-style:solid;
    border-color:#aad69e;
    border-width:1px 1px 1px;
    _zoom:1;
    z-index:9;
    position:relative;
}

ul {
    padding: 0;
}

.row {
    width: 990px;
    padding-bottom: 2rem;
    margin: 0 auto;
}

h2{
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin-block-start: .83em;
  margin-block-end: .83em;
}

a  > img{
     width: 25px;
     height: 25px;
}