doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description' content='')
        meta(name='author' content='')
        link(rel='icon' href='/images/favicon.ico')
        title Yellow Page @ASL3SHARD
        link(href='/stylesheets/style.css' rel='stylesheet')
    body
        |
        |
        include navbar.pug
        |
        |
        .all-screen
            .area-toc
                ul#topics
            .area-main#tables
            |
            |
        #snackbar Powered by JQuery, Ajax, Express, Pug, NodeJS, Docker.<br>Contact: Dongxu.Zeng@nokia-sbell.com
        include modal.pug
        |
        |
        script(src='/javascripts/jquery-3.3.1.min.js')
        script(src='/javascripts/yellowpage.js')
