#myModal.my-modal
  .my-content
    .my-header
      h5#myModalLable.my-title Add New URL
      button#closeWindow.close x
    .my-body
      form#form1(method='post')
        label(for='tag-name') Tag:
        input#tag-name(placeholder="Couldn't be null or longer than 25." type='text')
        label(for='url-name') URL:
        input#url-name(placeholder='http://domain.com' type='text')
        label(for='added-name') Name:
        input#added-name(placeholder='Your nsn-intra ID' type='text')
        button#closeForm(type='button') Close
        button(type='submit') Save
