#myModal.modal.fade
  .modal-content
    .modal-header
      h5.modal-title Add New URL
      button.close x
    .modal-body
      form#form1(method='post')
        label.modal-lable(for='tag-name') Tag:
        input.modal-input#tag-name(placeholder="Couldn't be null or longer than 25." type='text')
        label.modal-lable(for='url-name') URL:
        input.modal-input#url-name(placeholder='http://domain.com' type='text')
        label.modal-lable(for='added-name') Name:
        input.modal-input#added-name(placeholder='Your nsn-intra ID' type='text')
        .modal-footer
            button.btn.btn-close(type='button') Close
            button.btn.btn-submit(type='submit') Save
