nav.navbar.navbar-expand-sm.navbar-dark.fixed-top(style="background-color: #124191;")
  a.navbar-brand(href='#')
    img(src='/images/Nokia_logo.png')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarsExampleDefault' aria-controls='navbarsExampleDefault' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarsExampleDefault.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item
        a.flex-sm-fill.text-sm-center.nav-link(href='#') HR Portal 
      li.nav-item
        a.nav-link(href='#') e-Workplace
      li.nav-item
        a.nav-link(href='#') NSB-IT
      li.nav-item
        a.nav-link(href='#') Success4U
      li.nav-item
        a.nav-link(href='#') SNOW
      li.nav-item
        a.nav-link(href='#') X500
      li.nav-item
        a.nav-link(href='#') Meeting-Room