nav.navbar.navbar-expand-sm.navbar-dark.fixed-top(style="background-color: #124191;")
  a.navbar-brand(href='#')
    img(src='/images/Nokia_logo.png')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#myNavbar' aria-controls='myNavbar' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #myNavbar.collapse.navbar-collapse
    ul#navList.navbar-nav.mr-auto
  div
    button#B_About.btn.btn-outline-primary.text-sm-center.font-weight-bold(data-toggle='popover' title='' data-content='Powered by JQuery, Ajax, Bootstrap, Express, Pug, NodeJS, Docker. <br><br>Contact: Dongxu.Zeng@nokia-sbell.com' data-original-title='About this page') About
