.container#tables
    table.table
      thead
        tr
          th.bg-primary.text-center.font-weight-bold.text-white(scope='col' colspan=7)
              a.btn.btn-primary(data-toggle='collapse' href='#collapseExample' role='button' aria-expanded='true' aria-controls='collapseExample')
                | Section-1
      tbody.collapse.show(id='collapseExample')
        tr
          td.tdOdd Mark
          td.tdEven Otto
          td.tdOdd @mdo
          td.tdEven Otto
          td.tdOdd @mdo
          td.tdEven Otto
          td.tdOdd @mdo
        tr
          td.tdOdd Mark
          td.tdEven Otto
          td.tdOdd @mdo
          td.tdEven Otto
          td.tdOdd @mdo
          td.tdEven Otto
          td.tdOdd @mdo
        tr
          td.tdOdd Mark
          td.tdEven Otto
          td.tdOdd @mdo
          td.tdEven Otto
          td.tdOdd @mdo
          td.tdEven
            a#Section-1(href='#' data-toggle='modal' data-target='#exampleModal')
                img(src='/images/add.02.png')
          td.tdOdd
    table.table
      thead
        tr
          th.bg-success.text-center.font-weight-bold.text-white(scope='col' colspan=7)
              a.btn.btn-success(data-toggle='collapse' href='#collapseExample2' role='button' aria-expanded='true' aria-controls='collapseExample2')
                | Section-2
      tbody.collapse.show(id='collapseExample2')
        tr
          td.tdOdd Mark
          td.tdEven Otto
          td.tdOdd @mdo
          td.tdEven Otto
          td.tdOdd @mdo
          td.tdEven Otto
          td.tdOdd @mdo
        tr
          td.tdOdd Mark
          td.tdEven Otto
          td.tdOdd @mdo
          td.tdEven Otto
          td.tdOdd @mdo
          td.tdEven Otto
          td.tdOdd @mdo
        tr
          td.tdOdd Mark
          td.tdEven Otto
          td.tdOdd @mdo
          td.tdEven Otto
          td.tdOdd
            a#Section-2(href='#' data-toggle='modal' data-target='#exampleModal')
                img(src='/images/add.02.png')
          td.tdEven
          td.tdOdd
